<h1>Hi {{currentUser?.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All login audit :</h3>
<!-- <ul>
    <li *ngFor="let audit of audits">
        <br/><span class="badge badge-primary">{{audit.user}}</span>
        <br/><span class="badge badge-secondary">{{audit._id}}</span>
        <br/>Login - {{audit.loginTime}}
        <br/>Logout - {{audit.logoutTime}}
        <br/>IP - {{audit.ip}}
    </li>

</ul> -->
<div class='row mb-3 mt-3'>
    <div class="col-sm-4 d-flex">
        <label class="mt-1">Search:</label>
        <input type='text' class='form-control ml-2' name='filter' (keyup)='applyFilter($event.target.value)'>
    </div>
    <div class="col-sm-4 d-flex">
        <label class="mt-1">Range:</label>
        <select class="form-control ml-2" [(ngModel)]='range' >
            <option [value]='count' *ngFor='let count of rangeArray'>{{count}}</option>
        </select>
    </div>

    <div class="col-sm-4 d-flex">
        <label class="mt-1">Format:</label>
        <select class="form-control ml-2" [(ngModel)]='dateFormat' >
            <option value='dd/MM/yyyy hh;mm:ss' >12 hrs</option>
            <option value="dd/MM/yyyy HH;mm:ss">24 hrs</option>
        </select>
    </div>
    
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th (click)="sortArr('user')" >User <i class="fa fa-sort"></i></th>
            <th (click)="sortArr('id')">Id <i class="fa fa-sort"></i></th>
            <th (click)="sortArr('ip')">Ip <i class="fa fa-sort"></i></th>
            <th (click)="sortArr('loginTime')">Login Time <i class="fa fa-sort"></i></th>
            <th (click)="sortArr('logoutTime')">Logout Time <i class="fa fa-sort"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of audits| paginate: { itemsPerPage: range, currentPage: page };let i=index'>
            <td>{{user.user}}</td>
            <td>{{user.id}}</td>
            <td>{{user.ip}}</td>
            <td>{{user.loginTime| date:dateFormat}}</td>
            <td>{{user.logoutTime | date:dateFormat}}</td>
        </tr>
    </tbody>
</table>
<div class="has-text-centered bg-white text-right">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>